@import url('https://fonts.googleapis.com/css?family=Dosis');
* {
    font-family: 'Dosis', sans-serif;
}

body {
    
    max-width: 1200px;
    background-color: yellow;
    margin: 0 auto; 
}
body {
background-image: url(forest-background.jpg);
background-position: center center, 20% 80%;
background-origin: border-box;
background-repeat: repeat;
}
header > p {
    color: black;
}
img  {
  float: right;
  margin: 0 0 1em 1em;
}

h1 {
    color: blue;
}

section {
  width: 850px;
  margin: 20px auto;
  padding: 20px;
  border-width: 10px;
}

.fancy{
    color:black;
    background-color: #9ACD32;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    border-width: 10px;
}
body {
    border: 10px solid black;
}

    .use-content-box {
    box-sizing: border-box;
}
h1 {
    color:black;
    background-color: green;
}
h2 {
    color:black;
    background-color: #9ACD32;
}



p {
    color: black;
    background-color: orange;
}
p::first-letter {
    color:red;
}
h2::first-letter {
    color:#0B3B17;
}

h1::first-letter {
    color:red;
}

nav{
    width: 650px;
    background-color: #298A08;
    margin: 20px auto;
    padding: 20px;
    border-width: 10px;
    
}

.hidden {
    opacity: 50;
}
.relative2 {
  position: relative;
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;
}
a[href^="http"]{
    color: white;
}
a:visited {
    color: yellow;
}