@import url('https://fonts.googleapis.com/css?family=Dosis');
* {
    font-family: 'Dosis', sans-serif;
}
body {
    background-image: url(forest-background.jpg);
    background-position: center center, 20% 80%;
    background-origin: border-box;
    background-repeat: repeat;
    max-width: 1200px;
    margin: 0 auto; 
    border: 10px solid black;
}
header > p {
    color: black;
}
h1 {
    color:black;
    background-color: green;
}
h1::first-letter {
    color:red;
}
p {
    color: black;
    background-color: orange;
        display: block;
}
p::first-letter {
    color:red;
}
h2 {
    color:black;
    background-color: #9ACD32;
}
h2::first-letter {
    color:#0B3B17;
}
.hidden {
    opacity: 50;
}
img  {
  float: right;
  margin: 0 0 1em 1em;
}
.fancy {
    color:black;
    background-color: #9ACD32;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    border-width: 10px;
}
section {
  width: 850px;
  margin: 20px auto;
  padding: 20px;
  border-width: 10px;
}
.use-content-box {
    box-sizing: border-box;
}
nav{
    width: 650px;
    background-color: #298A08;
    margin: 20px auto;
    padding: 20px;
    border-width: 10px;
}
a[href^="http"]{
    color: white;
}
a:visited {
    color: yellow;
}